
:root {
    --color-accent-primary-robin: #4568dc; 
    --color-accent-primary-juniper: #33cb9a; 
    --color-accent-secondary-cherry: #da5565; 
    --color-accent-secondary-honey: #f6d87c; 
    --color-accent-secondary-aqua: #23c4f8; 
    --color-grey-light-vanilla-400: #c0c1c3; 
    --color-grey-light-vanilla-300: #eeeeee; 
    --color-grey-light-vanilla-200: #f5f5f5; 
    --color-grey-light-vanilla-100: #ffffff; 
    --color-grey-dark-ink-400: #121317; 
    --color-grey-dark-ink-300: #16181d; 
    --color-grey-dark-ink-200: #23262e; 
    --color-grey-dark-ink-100: #2a2e37; 
    --color-grey-dark-ink-50: #303540; 
    --color-grey-dark-slate: #52575c; 
    --color-juniper-600: #2aa67e; 
    --color-juniper-500: #33cb9a; 
    --color-juniper-400: #53d4aa; 
    --color-juniper-300: #74dcba; 
    --color-juniper-200: #94e4ca; 
    --color-juniper-150: #a5e8d2; 
    --color-juniper-100: #b5ecda; 
    --color-robin-600: #264dcd; 
    --color-robin-500: #4568dc; 
    --color-robin-400: #6784e2; 
    --color-robin-300: #8aa0e9; 
    --color-robin-200: #acbcef; 
    --color-robin-150: #bdcaf3; 
    --color-robin-100: #ced8f6; 
    --color-honey-600: #f3cb51; 
    --color-honey-500: #f6d87c; 
    --color-honey-400: #f9e3a2; 
    --color-honey-300: #fbefc8; 
    --color-honey-200: #fefaef; 
    --color-honey-100: #ffffff; 
    --color-cherry-600: #d22f43; 
    --color-cherry-500: #da5565; 
    --color-cherry-400: #e17783; 
    --color-cherry-300: #e998a2; 
    --color-cherry-200: #f0bac0; 
    --color-cherry-150: #f4cacf; 
    --color-cherry-100: #f7dbde; 
    --color-aqua-600: #07afe6; 
    --color-aqua-500: #23c4f8; 
    --color-aqua-400: #4bcff9; 
    --color-aqua-300: #72d9fb; 
    --color-aqua-200: #9ae4fc; 
    --color-aqua-150: #ade9fc; 
    --color-aqua-100: #c1eefd; 
}